@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  width: 1440px;
  background-color: #181511;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Old Standard TT, sans-serif;
  font-weight: 400;
  color: #aca592;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 120px;
}
.header .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}
.header .nav-logo {
  font-size: 22px;
  line-height: 28px;
  color: #ffae2b;
  padding-top: 25px;
  padding-bottom: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 42px;
}
.header .nav-item:last-child {
  margin-right: 489px;
}
.header .nav-item:first-child {
  margin-right: 28px;
}
.header .nav-item:not(:last-child) {
  margin-right: 40px;
}
.header .nav-link {
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  color: #aca592;
}
.header .nav-link:hover {
  color: #ffae2b;
}
.header .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 115px;
}
.header .nav-button {
  width: 147px;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 52px;
  border: 1px solid #ffae2b;
  border-radius: 0px;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #ffae2b;
  background: #181511;
}

.hero .hero-fon {
  height: 602px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  border-radius: 0px;
  position: relative;
}
.hero .first-title {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffae2b;
  text-align: center;
  margin-bottom: 15px;
  position: absolute;
  left: calc(50% - 144.5px + 0.5px);
  top: calc(50% - 11px - 140px);
}
.hero .second-title {
  font-size: 70px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 35px;
  position: absolute;
  left: calc(50% - 434.5px + 0.5px);
  top: calc(50% - 80px - 34px);
}
.hero .hero-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 44.08%;
  right: 44%;
  top: calc(50% - 25px + 106px);
}
.hero .hero-button .button {
  height: 50px;
  width: 143px;
  background: #ffae2b;
  border-radius: 0px;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #181511;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #ffae2b;
}

.container {
  display: grid;
  width: 1200px;
}
.container .first-title {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 120px;
}
.container .second-title {
  font-size: 60px;
  line-height: 70px;
  line-height: 94%;
  color: #ffae2b;
  margin-bottom: 60px;
}
.container .card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container .card-item {
  border: 1px solid #4b4136;
  border-radius: 0px;
}
.container .card-img {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 41px;
}
.container .card-title p {
  padding-bottom: 40px;
  color: #ffffff;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container .title {
  font-size: 60px;
  line-height: 70px;
  color: #ffae2b;
  margin-bottom: 20px;
  margin-top: 125px;
}
.container .text {
  font-size: 12px;
  line-height: 28px;
}

.image {
  border-bottom-width: 1px; /* Толщина линии внизу */
  border-bottom-style: solid; /* Стиль линии внизу */
  border-bottom-color: #161616;
  padding-bottom: 38px;
  padding-top: 121px;
}
.image:hover {
  border-bottom-color: #0047ab;
}

.container .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 104px;
  border-top-width: 1px; /* Толщина линии внизу */
  border-top-style: solid; /* Стиль линии внизу */
  border-top-color: #4b4136;
  padding-top: 20px;
}
.container .card {
  height: 240px;
  left: 0%;
  right: 0%;
  top: 0px;
  border-radius: 0px;
  position: relative;
}
.container .instagram {
  margin-left: 65px;
  margin-right: 65px;
  position: relative;
  padding-top: 20px;
}
.container .follow {
  position: absolute;
  width: 230px;
  height: 50px;
  left: calc(50% - 115px + 0.02px);
  top: calc(50% - 25px - 54.84px);
  font-size: 40px;
  line-height: 50px;
  color: #ffae2b;
}
.container .soc-icon {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -15%;
}
.container .button {
  position: absolute;
  height: 50px;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 45px;
  background: #ffae2b;
  border-radius: 0px;
  border: solid #ffae2b;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.footer .flag {
  margin-left: auto;
  margin-right: auto;
  margin-top: 82px;
  margin-left: 510px;
  margin-bottom: 35px;
}
.footer .flag .top {
  height: 59px;
  width: 420px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #181511;
  border-radius: 0px;
  border: solid;
  border-bottom-style: #ffae2b;
}
.footer .flag .down {
  width: 420px;
  height: 50px;
  background: #ffae2b;
  border-radius: 0px;
}
.footer .footer-text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.footer .footer-text a {
  color: #ffae2b;
}
.footer .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .icon {
  height: 48px;
  width: 48px;
  left: 0%;
  right: 0%;
  top: 0px;
  border: 1px solid #4b4136;
  margin-top: 21px;
}
.footer .icon:not(:last-child) {
  margin-right: 8px;
}
.footer .icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14px;
}/*# sourceMappingURL=main.css.map */