.container {
  .title {
    font-size: 60px;
    line-height: 70px;
    color: $text-color;
    margin-bottom: 20px;
    margin-top: 125px;
  }
  .text {
    font-size: 12px;
    line-height: 28px;
  }
}
